# =========================
# 백엔드 (Python/FastAPI)
# =========================
backend/venv/
backend/__pycache__/
*.pyc
*.db
*.sqlite3

# =========================
# 프론트엔드 (React/Node)
# =========================



# =========================
# 환경변수 (보안 - 절대 올라가면 안 됨)
# =========================
.env